# Exclude directories
.gitignore
__pycache__/
.idea
# Temp
tmp/
venv/
data/
third_party/
cache/
# Connector
connector/private/
connector/private/keys.yaml
connector/logs/
# Research
*.ipynb
research/wandb/*
figures/
tables/
# download_data
securities.txt
