# Exclude directories
.gitignore
__pycache__/
.idea
# Temp
tmp/
venv/
data/
third_party/
# Connector
connector/private/
connector/private/keys.yaml
connector/logs/
# Research
research/
# download_data
securities.txt
